{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>M. Rozin Anjad - Curriculum Vitae</title>

	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="The Curriculum Vitae of Joe Bloggs." />
	<meta charset="UTF-8">

	<link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}">
	<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body id="top">
	<div id="cv" class="instaFade">
		<div class="mainDetails">
			<div id="headshot" class="quickFade">
				<img src="{% static 'images/headshot.jpg'%}" alt="M. Rozin Anjad" />
			</div>

			<div id="name">
				<h1 class="quickFade delayTwo">M. Rozin Anjad</h1>
				<h2 class="quickFade delayThree">IT Programmer</h2>
			</div>

			<div id="contactDetails" class="quickFade delayFour">
				<ul>
					<li>email: <a href="mailto:mrozinanjad88@gmail.com" target="_blank">mrozinanjad88@gmail.com</a></li>
					<li>website: <a href="http://www.rozinanjad.com">www.rozinanjad.com</a></li>
					<li>address: Jl Tanjung Duren Selatan, Jakarta Barat</li>
					<li>Phone: 085236256380</li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>

		<div id="mainArea" class="quickFade delayFive">
			<section>
				<article>
					<div class="sectionTitle">
						<h1>Summary</h1>
					</div>

					<div class="sectionContent">
						<p>Dedicated IT specialist with 3 years of experience ensuring the reliability and security of
							credit card systems using COBOL at Bank BNI. Demonstrated success in identifying and resolving system
							anomalies, implementing preventative measures, and maintaining high levels of system availability.
							Possesses a strong understanding of credit card processing workflows and a commitment to delivering
							robust and dependable IT solutions.</p>
					</div>
				</article>
				<div class="clear"></div>
			</section>


			<section>
				<div class="sectionTitle">
					<h1>Work Experience</h1>
				</div>

				<div class="sectionContent">
					<article>
						<h2>IT Cobol Developer, PT Bank Negara Indonesia</h2>
						<p class="subDetails">January 2022 - February 2025</p>
						<ul id="listworkdetail">
							<li>Develop and maintain programs related to Reporting on COBOL Program</li>
							<li>Tune the COBOL-based program to speed up its execution</li>
							<li>Create COBOL programs and provide credit cards for testing purposes</li>
							<li>Generate data reports in both flat file and formatted file formats for testing data
								processing needs</li>
							<li>Operate simulators for each principal such as Mastercard, VISA, JCB, AMEX, and CUP for
								credit cards</li>
							<li>Analyze business needs for implementation in the application</li>
							<li>Coordinate with Users who are using the Credit Card System based on COBOL Program</li>
							<li>Collaborate with Testing and Operational Teams for the Credit Card System based on COBOL
								Program</li>
							<li>Support problem resolution and troubleshooting in Production</li>
							<li>Document Testing in the Environment Development</li>
						</ul>
					</article>
				</div>
				<div class="clear"></div>
			</section>


			<section>
				<div class="sectionTitle">
					<h1>Key Skills</h1>
				</div>

				<div class="sectionContent">
					<ul class="keySkills">
						<li>COBOL</li>
						<li>L400</li>
						<li>Cardlink</li>
						<li>Python</li>
						<li>Job Control Language(JCL)</li>
						<li>VSAM</li>
						<li>CICS</li>
						<li>Z/OS</li>
						<li>JAVA</li>
						<li>JAVASCRIPT</li>
						<li>Next.js</li>
						<li>React.js</li>
						<li>SQL</li>
						<li>.NET</li>
						<li>Express.js</li>
						<li>Node.js</li>
					</ul>
				</div>
				<div class="clear"></div>
			</section>


			<section>
				<div class="sectionTitle">
					<h1>Education</h1>
				</div>

				<div class="sectionContent">
					<article>
						<h2>University of Trunojoyo Madura</h2>
						<p class="subDetails">Bachelor of Informatics Engineering</p>
						<p>Major in Information Technology System.</p>
					</article>
				</div>
				<div class="clear"></div>
			</section>

		</div>
	</div>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-3753241-1");
		pageTracker._initData();
		pageTracker._trackPageview();
	</script>
</body>

</html>